/* CSS used to style the GameBoard Component */
body {
  font-family: Jost, sans-serif;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  background-color: black;
  color: white;
}

.GameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Always 4 equal columns */
  grid-template-rows: repeat(4, 1fr); /* Always 4 rows */
  grid-gap: 30px;
  padding-bottom: 50px;
}

/* Ensure no layout changes on smaller screens */
@media (max-width: 1200px) {
  .GameBoard {
    grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
    grid-template-rows: repeat(4, 1fr); /* Always 4 rows */
  }
}

@media (max-width: 768px) {
  .GameBoard {
    grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
    grid-template-rows: repeat(4, 1fr); /* Always 4 rows */
  }
}

@media (max-width: 480px) {
  .GameBoard {
    grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
    grid-template-rows: repeat(4, 1fr); /* Always 4 rows */
  }
}
